.navigation-list {
  list-style-type: none;
}

.navigation-list a {
  text-decoration: none;
  color: #ae7c78;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

.main {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #ae7c78;
}

.title h1 {
  color: #ae7c78;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-weight: 400;
  font-style: italic;
  line-height: 59px;
}

.title > p {
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.title a {
  padding: 30px 70px;
  width: 285px;
  height: 80px;
  border-radius: 40px;
  background-color: #d89999;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.features__list {
  list-style-type: none;
}

.features__list h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.features__list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.popular h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 48px;
}

.popular h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
}

.popular__cost {
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
}

.popular a {
  width: 285px;
  height: 80px;
  border-radius: 40px;
  padding: 30px 105px;
  background-color: #d89999;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.discount {
  background-color: #ae7c78;
}

.discount > h2 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  line-height: 59px;
  color: #ffffff;
}

.discount p {
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
}

.steps h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 48px;
}

ul.steps__list {
  list-style-type: none;
}

.steps__list h3 {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.steps__list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.news h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 48px;
}

.reviews h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 48px;
}

.reviews__text {
  font-weight: 400;
  line-height: 20px;
}

.reviews__autor {
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
}
